{% extends "base.html" %}
{% block title %} Home {% endblock %} 
{% block content %}
<div id="content" class="site-content row">	<div id="primary" class="content-area">
    <main id="main" class="site-main with-aside" role="main">			
        <div class="archive-aside">

            <div class="aside-block aside-filters"> 
                <h3>Orientation</h3>       	
                <span><a class="" href="#"><i class="fa fa-fire"></i> Straight</a></span>
                <span><a class="" href="#"><i class="fa fa-thumbs-up"></i> Lesbian</a></span>
                <span><a class="" href="#"><i class="fa fa-eye"></i>Bareback</a></span>			
                <span><a class="" href="#"><i class="fa fa-clock-o"></i> Trans</a></span>
                <!--<span><a class="" href="#"><i class="fa fa-refresh"></i> Random</a></span>-->     
            </div>

            <div class="aside-block aside-tags">
                <h3>Categories</h3>
                <a href="https://xrateddb.com/tag/1080p/" class="">POV</a><a href="https://xrateddb.com/tag/1080p-hd/" class="">HD</a><a href="https://xrateddb.com/tag/12-inches/" class="">Cameltoe</a><a href="https://xrateddb.com/tag/18/" class="">Booty</a><a href="https://xrateddb.com/tag/18-abused/" class="">Bigcock</a><a href="https://xrateddb.com/tag/18-and-abused/" class="">BBW</a><a href="https://xrateddb.com/tag/18-big-tits/" class="">Teens</a><a href="https://xrateddb.com/tag/18-old/" class="">College</a><a href="https://xrateddb.com/tag/18-teens/" class="">Latina</a><a href="https://xrateddb.com/tag/18-year-cute-girl/" class="">Ass</a>                <a class="show-all-link" href="https://xrateddb.com/tags" title="All tags">All tags <i class="fa fa-angle-right"></i></a>
            </div>
        <!--
            <div class="aside-block aside-actors">
                <h3>Actors</h3> 
                <a href="https://xrateddb.com/actor/aaliyah-grey/" class="">Aaliyah Grey</a><a href="https://xrateddb.com/actor/aaliyah-hadid/" class="">Aaliyah Hadid</a><a href="https://xrateddb.com/actor/aaliyah-love/" class="">Aaliyah Love</a><a href="https://xrateddb.com/actor/aaron-slater/" class="">Aaron Slater</a><a href="https://xrateddb.com/actor/abbey-rain/" class="">Abbey Rain</a><a href="https://xrateddb.com/actor/abbie-cat/" class="">Abbie Cat</a><a href="https://xrateddb.com/actor/abbie-maley/" class="">Abbie Maley</a><a href="https://xrateddb.com/actor/abby-cross/" class="">Abby Cross</a><a href="https://xrateddb.com/actor/abby-lee-brazil/" class="">Abby Lee Brazil</a><a href="https://xrateddb.com/actor/abella-anderson/" class="">Abella Anderson</a>                <a class="show-all-link" href="https://xrateddb.com/actors" title="All actors">All actors <i class="fa fa-angle-right"></i></a>
            </div>
        -->
        </div>
            
    <!--            
        <div class="archive-content clearfix-after">
            <h2 class="widget-title">Random</h2>
                
        <div class="filters">
        <a class="filter-title" href="#!">Random</a>
                <div class="filters-list">            	
                    <a class="" href="#">Newest</a>
                    <a class="" href="#">Best</a>	
                    <a class="" href="#">Most viewed</a>				
                    <a class="" href="#">Longest</a>
                    <a class="active" href="#">Random</a>	
                </div>
        </div>
    -->
                                    
        <div class="video-list-content ">						
            <div class="videos-list">
                {% for video in videos %}
                <article id="{{ video.id }}" class="thumb-block post-42929 post type-post status-publish format-video has-post-thumbnail hentry category-doggy-style tag-bang tag-blonde tag-cute tag-doggy tag-hair tag-long tag-style post_format-post-format-video">
                    <a href="{{ video.get_absolute_url }}" title="{{ video.title }}">
                        <!-- Trailer -->
                        <!-- Video trailer -->
                        <div class="post-thumbnail video-with-trailer">
                            <video class="wpst-trailer" preload="none" muted loop poster="{{ video.screenshot }}">
                                <source src="{{ video.trailer }}" type='video/mp4'/>
                            </video> 
                                <span class="duration">{{ video.partner }}</span>
                        </div>
                        <header class="entry-header">		
                            <span class="title">{{ video.title }}</span>
                        </header><!-- .entry-header -->		
                    </a>
                </article><!-- #post-## -->
                {% endfor %}
            </div>
        </div>
        
        <div class="mobile-pagination"><ul><li class="pagination-nav disabled"><span><i class="fa fa-angle-left"></i></span></li><li><span>1</span></li><li class="pagination-sep">/</li><li><span>369</span></li><li class='pagination-nav'><a href="https://xrateddb.com/page/2/"><i class='fa fa-angle-right'></i></a></li></ul></div>
        {% include "videos/pagination.html" with page=videos %}
        <!-- 
            <div class="pagination"><ul><li><a class="current">1</a></li><li><a href='https://xrateddb.com/page/2/' class="inactive">2</a></li><li><a href='https://xrateddb.com/page/3/' class="inactive">3</a></li><li><a href='https://xrateddb.com/page/4/' class="inactive">4</a></li><li><a href='https://xrateddb.com/page/5/' class="inactive">5</a></li><li><a href="https://xrateddb.com/page/2/">Next</a></li><li><a href='https://xrateddb.com/page/369/'>Last</a></li></ul></div>
            <div class="clear"></div>
        -->
        </div>
    </main><!-- #main -->
</div><!-- #primary -->
<div class="clear"></div>
{% endblock content %}